body {
	padding-left: 130px;
	padding-top: 15px;
	width: 400px;
	height: 500px;
}

#c {
	background-image:url('../Images/PA Card.jpg');
	background-size: 4.25in 5.25in;
}
#year {
	width: 50px;
	height: 40px;
	left:  330px;
	top: 292px;
	position: absolute;
	font-size: 30px;
}

#total {
	width: 50px;
	height: 18px;
	left: 430px;
	top: 424px;
	position: absolute;
	font-size: 14px
}

#home {
	width: 15px;
	height:15px;
	left: 160px;
	top: 405px;
	position: absolute;"
}

#store {
	width: 15px;
	height:15px;
	left: 365px;
	top: 405px;
	position: absolute;
}

#print {
	width: 50px;
	height:20px;
	left: 130px;
	top: 565px;
	position: absolute;
}

#instructions {
	top: 600px;
	position: absolute;
}